<div>
 <h1> <%= @post.title %> </h1>
</div>
 
<div class="well well-lg">
  <%= @post.text %>
</div>
<%= link_to 'Back', posts_path %>
| <%= link_to 'Edit', edit_post_path(@post) %>

<h2>Agrega un comentario:</h2>

<%= form_for([@post, @comentario]) do |f| %>
<p>
	<%= f.hidden_field :post_id, :value => @post.id %>
<%= f.label :commenter %><br />
<%= f.text_field :commenter, :class => 'form-control', :placeholder => 'Escriba su nombre' %>
</p>
<p>
<%= f.label :body %><br />
<%= f.text_area :body, :class => 'form-control', :placeholder => 'Escriba su comentario' %>
</p>
<p>
<%= f.submit "Postear!", :class => 'btn btn-default' %>
</p>
<% end %>

<h2>Comentarios</h2>
<%= render @post.comments %>